<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894157143476-1ilva5kjifs1c0phuje4qs1iks8c3tf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894157143476-1ilva5kjifs1c0phuje4qs1iks8c3tf2</string>
	<key>API_KEY</key>
	<string>AIzaSyBByWpPmY4H2s_aZzW2kWJ5OD-VVrgtN0M</string>
	<key>GCM_SENDER_ID</key>
	<string>894157143476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pirstone.EatUntil</string>
	<key>PROJECT_ID</key>
	<string>eat-until</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-until.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894157143476:ios:2be438c04f665943e346e1</string>
	<key>DATABASE_URL</key>
	<string>https://eat-until.firebaseio.com</string>
</dict>
</plist>